body {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: #C8102E;
    font-family: "Segoe UI";
    margin: 0px;
}

nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

nav ul {
    font-size: x-large;
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

nav li {
    margin-top: 6px;
}

#logo {
    width: 200px;
}

#homehero {
    background-image: url("hero.webp");
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

main {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: #F5F5DC;
    color: #333333;
    text-align: center;
    padding-bottom: 3em;
}

#article-section {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.article {
    width: 350px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-text {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.article-img {
    width: 350px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main h3 {
    margin-top: 5px;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#footer-text {
    color: #F5F5DC;
    padding-left: 500px;
    padding-right: 100px;
}

#footer-images {
    display: flex;
    justify-content: end;
    gap: 30px;
}

#footer-images img {
    width: 100px;
}

.gold {
    color: #FABD05;
}

.red {
    color: #C8102E;
}