body {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,175px) minmax(0px, 1fr));
    font-family: "Inter";
    background-color: #C8102E;
    color: #EAEAEA;
    margin: 0px;
}

nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav img{
    width: 200px;
}

nav h1 {
    font-weight: 500;
    margin-left: -6rem;
}

nav h2 {
    font-weight: 400;
}

#homehero {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    height: 600px;
    background-image: url("images/homehero.webp");
    background-position: center;
    background-size: cover;
}

main {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: #F5F5DC;
    color: #333333;
    text-align: center;
}

#latest-articles {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid black;
    text-align: center;
}

#article-section{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
    gap: 2rem;
}

.article {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 300px;
}

.article-img {
    height: 200px;
    width: 300px;
    background-image: url("images/article.webp");
    background-position: center;
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.article h3 {
    text-align: left;
    padding-left: 10px;
}

.article p {
    text-align: left;
    padding-left: 10px;
}

.red-text {
    color: #C8102E;
}

footer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#footer-text {
    text-align: center;
}

#social-media-section {
    display: flex;
    gap: 2rem;
    position: absolute;
    right: 0;
}

.social-media {
    width: 75px;
}

.yellow-text {
    color: #FABD05;
}